/* 아이템 바 */
.product_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 6px 0;
}
.container {
  display: flex;
  width: 95%;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
/* 좌측 이미지 영역 */
.imagesec {
  width: 102px;
  height: 104px;
  margin: 0.5rem;
  background-color: lightgray;
  border-radius: 6px;
  color: white;
  text-align: center;
  font-size: 75px;
}

.product_img {
  width: 102px;
  height: 104px;
  border-radius: 6px;
}

.product_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0 0.3rem;
}

/* 우측 상품 상세설명 */
.descsec {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* 상세설명 세부사항 */
.product_title {
  font-size: 1em;
  font-weight: 600;
  overflow: hidden;
  margin-bottom: 0.2rem;
  /* ...처리 */
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product_location {
  font-size: 0.4em;
  color: rgb(150, 150, 150);
}

.product_price {
  width: 100%;
  text-align: right;
  font-size: 0.7em;
  color: rgb(70, 70, 70);
}
