@value borderLightGray from '../../common/colors.css';
@value mainSkyblue from '../../common/colors.css';
@value mainSnow from '../../common/colors.css';
@value mainSlateGray from '../../common/colors.css';
@value inputLightGray from '../../common/colors.css';
@value searchBlack from '../../common/colors.css';
@value inputDarkGray from '../../common/colors.css';


.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.back {
  justify-content: flex-start;
  color: mainSkyblue;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-size: 4em;
  color: mainSkyblue;
}
.form {
  width: 85%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
  font-weight: bold;
}

.input {
  border: solid 1px mainSkyblue;
  border-radius: 2px;
  background-color: mainSnow;
  height: 2rem;
  font-size: 1em;
  color: inputDarkGray;
  margin-bottom: 1rem;
}

.input:focus {
  outline: none;
}

.submit {
  width: 100%;
  height: 2.5rem;
  background-color: mainSkyblue;
  color: mainSnow;
  border: solid 1px mainSkyblue;
  border-radius: 2px;
  cursor: pointer;
  margin: 1rem 0;
}
