button {
  border: none;
  background: transparent;
}

.app {
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 반응형 | 미디어 쿼리 */
@media screen and (min-width: 720px) {
  .app {
    width: 375px;
  }
}

@media screen and (max-width: 1024px) {
  .app {
    width: 100%;
  }
}
