.container {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* 헤더 */
.header {
  width: 100%;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  background-color: skyblue;
}

/* 뒤로가기 버튼 */
.goBackBtn {
  color: skyblue;
  font-size: 1.5rem;
  position: absolute;
  top: 8px;
  left: 4px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.imgBox {
  width: 100%;
  height: 250px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.product_img {
  width: 100%;
  height: 250px;
}

.product {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem auto;
}

.userBox {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

.profile_left {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 0.2rem;
}

.profileImg {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  color: darkgray;
  padding: 0 0.2rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.postUser_nickneme {
  display: flex;
  align-items: center;
  padding: 0.4rem;
}
.postUser_nickneme span {
  font-weight: 600;
  cursor: pointer;
}

.product_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid darkgray;
  margin: 0.4rem auto;
  margin-top: 0.8rem;
  word-break:break-all;
}

.product_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 6px;
  word-break:break-all;
}

.location {
  font-size: 0.7em;
  padding: 0.2rem 0;
  color: darkgray;
}

.product_description {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.product_info{
  padding: 0.1rem 0;
}

.product_views {
  color: rgb(97, 97, 97);
  font-size: 0.5em;
}

.product_lend_info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  color: rgb(78, 130, 255);
}

.priceBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.9em;
}


.lend_mark {
  font-size: 0.6em;
  margin-right: 0.2rem;
  padding: 0.25rem;
  color: white;
  background-color: skyblue;
  border-radius: 6px;
}

#type {
  font-size: 0.9em;
  margin-right: 1rem;
}

.price {
  font-size: 0.6em;
  color: gray;
  margin-right: 0.6rem;
  margin-left: 0.1rem;
}

.commentForm {
  position:sticky;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 0.6rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: snow;
}

.commentInput {
  width: 73%;
  height: 36px;
  resize: none;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 0 0.2rem;
  margin-left: 0.6rem;
}

.commentInput:focus {
  outline: none;
  border-color: skyblue;
}

.commentInput::-webkit-scrollbar {
  display: none;
}

.commentSubmitBtn {
  width: 16%;
  height: 36px;
  font-size: 0.7em;
  font-weight: 600;
  background-color: skyblue;
  color: whitesmoke;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.6rem;
}

/* 스크롤바 디자인 */
.container::-webkit-scrollbar {
  width: 0.15em;
}

.container::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 1em;
}

@media screen and (max-width: 360px) {
  .container {
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    font-size: 0.75em;
  }
}